* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resize {
    justify-self: flex-start;
    width: 100px;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
}

.pixel {
    width: 20px;
    border: 1px solid black;
}

.painted {
    background-color: red;
}